.default-main .default-main-col {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.default-main .operate-log {
  border-radius: 5px;
}
.default-main :deep(.edit-info)::before {
  width: 100%;
  height: 50px;
  background-color: var(--primary-color);
  background-color: black;
}
