.menu-logo {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #fff;
  overflow: hidden;
}
.i-menu-content {
  overflow: auto;
}
.logo-img {
  width: 36px;
}
.logo-name {
  flex-grow: 1;
  justify-content: center;
}
.website-name {
  padding-left: 4px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
