.nav-msg-popover {
  width: 300px;

  .ant-popover-content {
    .ant-popover-inner {
      .ant-popover-title {
        font-weight: bold;
        font-size: 16px;
      }

      .ant-popover-inner-content {
        padding: 0;
      }
    }
  }

  .nav-msg-content {
    max-height: 300px;
    overflow-y: auto;

    :deep(.nav-msg-item) {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      border-radius: @border-radius;
      transition: all calc(@motionUnit * 1s);

      &:hover {
        background-color: @colorBgTextHover;
      }

      .nav-msg-icon {
        margin-right: 10px;
        width: 40px;
        min-width: 40px;
        height: 40px;
        color: #fff;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: @error-color-sub;
        border-radius: 50%;
      }

      .nav-msg-desc {
        color: inherit;

        .title,
        .time {
          margin-bottom: 0;
        }

        .title {
          margin-bottom: 6px;
          line-height: 18px;
        }

        .time {
          font-size: 10px;
        }
      }
    }
  }
}

.nav-menu-item {
  .msg-icon {
    position: relative;

    &.active {
      padding: 4px;

      &::after {
        content: "";
        position: absolute;
        top: 2px;
        right: 2px;
        width: 4px;
        height: 4px;
        background-color: red;
        border-radius: 100%;
      }
    }
  }
}
